.Blockly {
    /* flex-grow: 1; */
    width: 100%;
    height: 100%;
}

.blocklyToolboxDiv{
    color : black;
    // background-color: #ccb27bbd !important;
    background: #ccb27bd3;
    // box-shadow: -10px 0px 5px #ccb27b;
}

.blocklyFlyout{
    background-color: #ccb27b88;;
// translate: -5px 0px;
}

.blocklyFlyoutBackground{
    display: none !important;
}

.blocklySvg{
    /* background-color: rgba(127,127,127,0.8); */
    background-image: url('../../assets/textures/sand.png') !important;
    background-repeat: repeat !important;
}

.blocklyTreeSeparator{
    border: none;
    background-color: #ccb27b;
    color: #ccb27b;
}
