.Exercises {
    width: 100%;
    height: 100vh;
    flex-grow: 1;
    /* background-color: red; */
}

.Exercise{
    color: aliceblue;
    margin: 5px;
    padding: 10px;
    border-radius: 5px ;
    border: solid 1px rgba(255, 255, 255, 0.527);
    border-radius: 15px;

}

.

.Exercise > h1 {
    margin: 0;
    
}



.Exercise > div > * > * {
    border-radius: 5px ;
    padding-left: 10px;
}

.Exercise > div > * > *:hover{
    background-color: rgba(200, 200, 255, 0.11);

}


