.MainNav {
  /* border-right: solid 5px #fac003; */
  background: #111214;
  
  /* width: 60px; */
  /* width: auto; */
  /* max-width: 50px; */
  width: auto;
  display: flex;
  flex-direction: row;
  /* transition: all 1s ease; */
  height: 100%;
  padding: 0;
}

.MainNavBig{
}

.MainNavSmall{
}

.MainNavControl{
  padding: 10px;
}



.MainNavControl > * {
  margin-bottom: 20px;
}




.nav-svg {
  width: 50px;
  height: 50px;
}

.nav-svg:hover {
  background-color: rgba(250, 247, 247, 0.192);
  border-radius: 5px;
}