html,
body {
  background-color: rgb(14, 13, 13);

  /* overflow-y: hidden; */
}

.app {
  /* display: flex; */
  /* flex-direction: row; */
  height: 100vh;
  width: 100%;
}

.left-side{
  height: auto;
  max-height: 100vh;
}

.right-side {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* border-left: solid 2px #7b7173; */

}

.right-side > * {
}


nav {
  background-color: #1d1d22;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: solid 3px #131317;
}

nav > div{
  /* border-left: solid 1px  gray; */
  /* border-right: solid 1px gray; */
  /* background-color: rgba(255, 255, 255, 0.01); */
  margin: 5px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1
}

.nav-svg {
  width: 50px;
  height: 50px;
}

.nav-svg:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #25262b;
}

.main-canvas {
  border: solid 1px black;
  /* width: 80%; */
  /* height: 80%; */
  max-width: 400px;
  max-height: 400px;
  background-color: white;
  image-rendering: pixelated;
}

.test{
  height: 100%;
  width: 100%;
}
